#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=CFA
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=hemepbibecgjkmllgeodkmjllnnkbkcd
Icon=chrome-hemepbibecgjkmllgeodkmjllnnkbkcd-Default
StartupWMClass=crx_hemepbibecgjkmllgeodkmjllnnkbkcd
