#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Alpha
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=gflfciplkcpopbjndojdgdlcamkdhahg
Icon=chrome-gflfciplkcpopbjndojdgdlcamkdhahg-Default
StartupWMClass=crx_gflfciplkcpopbjndojdgdlcamkdhahg
