#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ADMR
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=lfckngdfologniaindcffjofhheelhda
Icon=chrome-lfckngdfologniaindcffjofhheelhda-Default
StartupWMClass=crx_lfckngdfologniaindcffjofhheelhda
