#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=CCI 2B | Formation
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=holfnilnldpipngiedcmfdmlaljiockf
Icon=chrome-holfnilnldpipngiedcmfdmlaljiockf-Default
StartupWMClass=crx_holfnilnldpipngiedcmfdmlaljiockf
