#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=MSA
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=kolncabjhejlajcmbbfimnbcbnfbolhh
Icon=chrome-kolncabjhejlajcmbbfimnbcbnfbolhh-Default
StartupWMClass=crx_kolncabjhejlajcmbbfimnbcbnfbolhh
