#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Acqua Publica
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=ehklalmcfdnahfklccohofibpakbhgbo
Icon=chrome-ehklalmcfdnahfklccohofibpakbhgbo-Default
StartupWMClass=crx_ehklalmcfdnahfklccohofibpakbhgbo
