#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=monenfant.fr
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=enbdgliimjiclhfoielcllelpnaakeid
Icon=chrome-enbdgliimjiclhfoielcllelpnaakeid-Default
StartupWMClass=crx_enbdgliimjiclhfoielcllelpnaakeid
