#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Opra
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=feeccilfidgekkaknippjnakonbidnng
Icon=chrome-feeccilfidgekkaknippjnakonbidnng-Default
StartupWMClass=crx_feeccilfidgekkaknippjnakonbidnng
